.ancho-personalizado {
  width: 50%;
}

.fixed-size-img {
  width: 25vw;
  height: 25vh;
  border: 0.5px solid silver !important; /* Puedes cambiar el color y grosor del borde aquí */
  border-radius: 5px;
}

.justify-text {
  text-align: justify;
  display: inline-block; /* Para que el texto esté justificado y centrado */
  width: 100%;
}

.text-center {
  text-align: center;
}

@media (min-width: 1351px) {
  .ancho-personalizado {
    width: 50%;
  }

  .fixed-size-img {
    width: 23vw;
    height: 30vh;
  }
  .tittle{
    color: rgba(0, 0, 0, 0.6);
    font-size: 25px;
  }
  .card-title-custom{
    font-size: 17px;
  }
  .card-description-custom{
    font-size: 16px;
  }
}

/* Dispositivos grandes (desktops, laptops grandes) */
@media (max-width: 1350px) {
  .ancho-personalizado {
    width: 55%;
  }
  .fixed-size-img {
    width: 26vw;
    height: 29vh;
  }
  .tittle{
    color: rgba(0, 0, 0, 0.6);
    font-size: 25px;
  }
  .card-title-custom{
    font-size: 17px;
  }
  .card-description-custom{
    font-size: 16px;
  }
}

/* Dispositivos medianos (laptops, tablets en paisaje) */
@media (max-width: 992px) {
  .ancho-personalizado {
    width: 75%;
  }
  .fixed-size-img {
    width: 30vw;
    height: 28vh;
  }
  .tittle{
    color: rgba(0, 0, 0, 0.6);
    font-size: 24px;
  }
  .card-title-custom{
    font-size: 16px;
  }
  .card-description-custom{
    font-size: 15px;
  }
}

/* Dispositivos pequeños (tablets en retrato, smartphones grandes) */
@media (max-width: 768px) {
  .ancho-personalizado {
    width: 80%;
  }
  .fixed-size-img {
    width: 32vw;
    height: 28vh;
  }
  .tittle{
    color: rgba(0, 0, 0, 0.6);
    font-size: 22px;
  }
  .card-title-custom{
    font-size: 14px;
  }
  .card-description-custom{
    font-size: 13px;
  }
}

/* Dispositivos extra pequeños (smartphones) */
@media (max-width: 576px) {
  .ancho-personalizado {
    width: 90%;
  }
  .fixed-size-img {
    width: 38vw;
    height: 26vh;
  }
  .tittle{
    color: rgba(0, 0, 0, 0.6);
    font-size: 23px;
  }
  .card-title-custom{
    font-size: 15px;
  }
  .card-description-custom{
    font-size: 14px;
  }
}



