.header{
  background: rgb(0, 179, 186);
  height: 16vh !important;
  overflow-x: hidden;
  //width: 100vw;
}

.headerGrande{
  display: inline;
}

.headerPequenio{
  display: inline;
}

.btn-alto-ancho{
  height: 5vh;
  width: 50px;
}

.input-personalizado {
  height: 5vh; /* Altura deseada */
}

.input-group-custom{
  width: 90%;
}

.ancho-personalizado-busqueda{
  margin: 0 auto;
  width: 60%;
  height: 13vh;
}

.logo {
  margin-left: 2vw;
  margin-top: 50px;
  background-color: white;
  height: 7.5vh;
  width: 14vw;
  text-align: center;
  align-content: center;
  border-radius: 2px;
}

.logo-img {
  height: 6vh;
  width: 13vw;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-right: 10vw;
  margin-top: 10px;
}

.underline {
  width: 100%;
  height: 1px;
  background-color: white; /* Cambia el color según tus necesidades */
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group-append {
  display: flex;
  align-items: center;
}

.shopping-cart {
  position: relative;
  height: 6vh;
  width: 4vw;
  margin-right: 30px;
  margin-top: 60px;
}

.shopping-cart button {
  height: 6vh;
  width: 4vw;
  margin-right: 50px;
}

.shopping-cart svg {
  height: 3vh;
  width: 2vw;
}

@media (min-width: 1351px) {

  .headerGrande{
    display: inline;
  }

  .headerPequenio{
    display: none;
  }

  .btn-alto-ancho{
    height: 5vh;
    width: 50px;
  }

  .input-personalizado {
    height: 5vh; /* Altura deseada */
  }

  .input-group-custom{
    width: 90%;
  }

  .ancho-personalizado-busqueda{
    margin: 0 auto;
    width: 60%;
    height: 13vh;
  }

  .logo {
    margin-left: 2vw;
    margin-top: 50px;
  }

  .logo-img {
    height: 6vh;
    width: 13vw;
  }

  .button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-right: 10vw;
    margin-top: 10px;
  }

  .input-group {
    display: flex;
    align-items: center;
  }

  .input-group-append {
    display: flex;
    align-items: center;
  }

  .shopping-cart {
    margin-top: 60px;
    height: 5vh;
    width: auto;
    align-content: center;
  }

  .shopping-cart button {
    height: 5vh;
    width: 4vw;

  }

  .shopping-cart svg {
    height: 3vh;
    width: 3vw;
  }


}

/* Dispositivos grandes (desktops, laptops grandes) */
@media (max-width: 1350px) {

  .headerGrande{
    display: inline;
  }

  .headerPequenio{
    display: none;
  }

  .btn-alto-ancho{
    height: 5vh;
    width: 50px;
  }

  .input-personalizado {
    height: 5vh; /* Altura deseada */
  }

  .input-group-custom{
    width: 90%;
  }

  .ancho-personalizado-busqueda{
    margin: 0 auto;
    width: 65%;
    height: 13vh;
  }

  .logo {
    margin-left: 2vw;
    margin-top: 50px;
    height: 7vh;
    width: 15vw;
  }

  .logo-img {
    height: 5.5vh;
    width: 13vw;
  }

  .button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-right: 10vw;
    margin-top: 10px;
  }

  .input-group {
    display: flex;
    align-items: center;
  }

  .input-group-append {
    display: flex;
    align-items: center;
  }

  .shopping-cart {
    margin-top: 60px;
    height: 5vh;
    width: auto;
    align-content: center;
  }

  .shopping-cart button {
    height: 4vh;
    width: 6vw;

  }

  .shopping-cart svg {
    height: 3vh;
    width: 3vw;
  }
}

/* Dispositivos medianos (laptops, tablets en paisaje) */
@media (max-width: 992px) {

  .headerGrande{
    display: inline;
  }

  .headerPequenio{
    display: none;
  }

  .btn-alto-ancho{
    height: 4.5vh;
    width: 50px;
  }

  .input-personalizado {
    height: 4.5vh; /* Altura deseada */
  }

  .input-group-custom{
    width: 100%;
  }

  .ancho-personalizado-busqueda{
    margin: 0 auto;
    width: 55%;
    height: 13vh;
  }

  .logo {
    margin-left: 1vw;
    margin-top: 50px;
    height: 7vh;
    width: 20vw;
  }

  .logo-img {
    height: 5vh;
    width: 18.5vw;
  }

  .button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-right: 10vw;
    margin-top: 10px;
  }

  .input-group {
    display: flex;
    align-items: center;
  }

  .input-group-append {
    display: flex;
    align-items: center;
  }

  .shopping-cart {
    margin-top: 60px;
    height: 5vh;
    width: auto;
    align-content: center;
  }

  .shopping-cart button {
    height: 4vh;
    width: 6vw;

  }

  .shopping-cart svg {
    height: 3vh;
    width: 3vw;
  }

}

/* Dispositivos pequeños (tablets en retrato, smartphones grandes) */
@media (max-width: 768px) {

  .headerGrande{
    display: none;
  }

  .headerPequenio{
    display: inline;
  }

  .header{
    height: 20vh !important;
  }

  .btn-alto-ancho{
    height: 4.4vh;
    width: 50px;
  }

  .input-personalizado {
    height: 4.4vh; /* Altura deseada */
  }

  .input-group-custom{
    width: 95%;
  }

  .ancho-personalizado-busqueda{
    margin: 0 auto;
    width: 65%;
    height: 25vh;
  }

  .logo {
    align-items: center;
    text-align: center;
    height: 7vh;
    width: 27.5vw;
    margin: 0 auto;
  }

  .logo-img {
    height: 5vh;
    width: 25vw;
  }

  .button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    margin-right: 0vw;
    margin-top: 5px;
  }

  .input-group {
    display: flex;
    align-items: center;
  }

  .input-group-append {
    display: flex;
    align-items: center;
  }

  .shopping-cart {
    margin-top: 0px;
    margin-left: -15px;
    height: 5vh;
    width: auto;
    align-content: center;
  }

  .shopping-cart button {
    height: 5vh;
    width: 7vw;
  }

  .shopping-cart svg {
    height: 3.5vh;
    width: 4vw;
  }
}

/* Dispositivos extra pequeños (smartphones) */
@media (max-width: 576px) {

  .headerGrande{
    display: none;
  }

  .headerPequenio{
    display: inline;
  }

  .header{
    height: 20vh !important;
  }

  .btn-alto-ancho{
    height: 4.4vh;
    width: 50px;
  }

  .input-personalizado {
    height: 4.4vh; /* Altura deseada */
  }

  .input-group-custom{
    width: 100%;
  }

  .ancho-personalizado-busqueda{
    margin: 0 auto;
    width: 90%;
    height: 25vh;
  }

  .logo {
    align-items: center;
    text-align: center;
    height: 6vh;
    width: 33vw;
    margin: 0 auto;
  }

  .logo-img {
    height: 4vh;
    width: 28vw;
  }

  .button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    margin-right: 0vw;
    margin-top: 5px;
  }

  .input-group {
    display: flex;
    align-items: center;
  }

  .input-group-append {
    display: flex;
    align-items: center;
  }

  .shopping-cart {
    margin-top: 0px;
    margin-left: -15px;
    height: 5vh;
    width: auto;
    align-content: center;
  }

  .shopping-cart button {
    height: 5vh;
    width: 7vw;
  }

  .shopping-cart svg {
    height: 3.5vh;
    width: 4vw;
  }

}

