<!--Media queries grandes arriba de 768 de ancho-->
<div class="headerGrande">
  <div class="header">
    <div class="logo">
      <img src="/assets/images/logo.png" class="logo-img">
    </div>
    <div class="ancho-personalizado-busqueda">
      <div class="button-group">
        <div class="button-container" (click)="setActive('inicio')">
          <button class="border-0 text-white btn" (click)="viajarInicio()">Inicio</button>
          <div class="underline text-white" *ngIf="services.activeButtonHeader === 'inicio'"></div>
        </div>
        <div class="button-container" (click)="setActive('tiposProducto')">
          <button class="border-0 text-white btn" >Tipos de producto</button>
          <div class="underline text-white" *ngIf="services.activeButtonHeader === 'tiposProducto'"></div>
        </div>
      </div>
      <div class="input-group input-group-custom">
        <input class="form-control input-personalizado" placeholder="Buscar..." [formControl]="valorBusqueda"
               (blur)="functionsUtils.removeSpacesFormControl(valorBusqueda)" (keyup.enter)="filtrar()">
        <div class="input-group-append">
          <button cButton color="warning" (click)="filtrar()" class="text-white btn-alto-ancho">
            <svg cIcon name="cilZoom"></svg>
          </button>
        </div>
      </div>
    </div>
    <div class="shopping-cart">
      <button (click)="viajarACarrito()" color="dark" variant="outline" class="text-white btn-alto-ancho border-0 position-relative mx-2 btn" variant="outline">
        <svg cIcon name="cilCart"></svg>
        <c-badge *ngIf="this.services.cantidadProductosCarrito > 0" color="danger" position="top-end" shape="rounded-pill">{{this.services.cantidadProductosCarrito}}</c-badge>
      </button>
    </div>
  </div>
</div>


<!--Media queries pequeños abajo o igual a 768 de ancho-->
<div class="headerPequenio">
  <div class="header">
    <div class="ancho-personalizado-busqueda">
      <div class="logo">
        <img src="/assets/images/logo.png" class="logo-img">
      </div>
      <div class="button-group">
        <div class="button-container" (click)="setActive('inicio')">
          <button class="border-0 text-white btn" (click)="viajarInicio()">Inicio</button>
          <div class="underline text-white" *ngIf="services.activeButtonHeader === 'inicio'"></div>
        </div>
        <div class="button-container" (click)="setActive('tiposProducto')">
          <button class="border-0 text-white btn" >Tipos de producto</button>
          <div class="underline text-white" *ngIf="services.activeButtonHeader === 'tiposProducto'"></div>
        </div>
        <div class="shopping-cart button-container">
          <button (click)="viajarACarrito()" color="dark" class="text-white border-0 position-relative mx-2 btn">
            <svg cIcon name="cilCart"></svg>
            <c-badge *ngIf="this.services.cantidadProductosCarrito > 0" color="danger" position="top-end" shape="rounded-pill">{{this.services.cantidadProductosCarrito}}</c-badge>
          </button>
        </div>

      </div>

      <div class="input-group input-group-custom">
        <input class="form-control input-personalizado"  placeholder="Buscar..." [formControl]="valorBusqueda"
               (blur)="functionsUtils.removeSpacesFormControl(valorBusqueda)" (keyup.enter)="filtrar()">
        <div class="input-group-append">
          <button cButton color="warning" (click)="filtrar()" class="text-white btn-alto-ancho">
            <svg cIcon name="cilZoom"></svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

