.card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Valor por defecto */
}

.fixed-size-img {
  width: 200px;
  height: 250px;
}

.card-item{
  max-height: 450px;
}

.card-body-custom{
  max-height: 100px;
  overflow-y: scroll;
}

.input-alto {
  height: 5vh; /* Altura deseada */
}

.btn-alto-ancho{
  height: 5vh;
  width: 50px;
}

.ancho-personalizado {
  width: 90%;
}

@media (min-width: 1351px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  }

  .fixed-size-img {
    width: 16vw;
    height: 27vh;
  }

  .ancho-personalizado {
    width: 82%;
  }
}

/* Dispositivos grandes (desktops, laptops grandes) */
@media (max-width: 1350px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
  .fixed-size-img {
    width: 18vw;
    height: 27vh;
  }

  .ancho-personalizado {
    width: 86%;
  }

}

/* Dispositivos medianos (laptops, tablets en paisaje) */
@media (max-width: 992px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(31%, 1fr));
  }
  .fixed-size-img {
    width: 23vw;
    height: 26vh;
  }

  .ancho-personalizado {
    width: 92%;
  }
}

/* Dispositivos pequeños (tablets en retrato, smartphones grandes) */
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  }
  .fixed-size-img {
    width: 32vw;
    height: 27vh;
  }

  .ancho-personalizado {
    width: 90%;
  }
}

/* Dispositivos extra pequeños (smartphones) */
@media (max-width: 576px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
  }
  .fixed-size-img {
    width: 48vw;
    height: 27vh;
  }

  .ancho-personalizado {
    width: 87%;
  }
}



