<div class="d-flex justify-content-center flex-column align-items-center">
  <c-card class="my-5 ancho-personalizado" *ngIf="listResponse && listResponse.length > 0">
    <div class="d-flex justify-content-center mt-3">
      <span class="tittle">Carrito</span>
    </div>
    <c-card-body>
      <c-container>
        <div class="text-center scroll">
          <table [striped]="true" cTable>
            <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Nombre de producto</th>
              <th scope="col">Descripción</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Total</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of listResponse">
              <td class="align-center" ><img cCardImg="top" [src]="item.producto.imagen" class="fixed-size-img" /></td>
              <td class="align-center">{{item.producto.nombre}}</td>
              <td class="align-center">{{item.descripcion}}</td>
              <td class="align-center">{{item.cantidad}}</td>
              <td class="align-center">Q{{functionsUtils.formatPrice(item.producto.precio)}}</td>
              <td class="align-center">Q{{functionsUtils.formatPrice(item.producto.precio * item.cantidad)}}</td>
              <td class="align-center">
                <button cButton color="danger" variant="outline" size="sm" (click)="eliminar(item.producto.id)">
                  <svg cIcon name="cilTrash"></svg>
                </button>
              </td>
            </tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="fw-bold">Total de compra: </td>
            <td class="align-center fw-bold">Q{{functionsUtils.formatPrice(totalCompra)}}</td>
            </tbody>
          </table>
        </div>
      </c-container>
      <div class="justify-content-center d-flex mt-2" style="padding-bottom: 20px;">
        <button (click)="realizarCompra()" cButton color="primary">
          Finalizar Compra
        </button>
      </div>
    </c-card-body>
  </c-card>
  <c-card class="my-5 ancho-personalizado" *ngIf="!listResponse || (listResponse && listResponse.length === 0)">
    <c-card-body class="d-flex justify-content-center flex-column align-items-center align-content-center" >
      <h4>No existen productos en el carrito de compras</h4>
    </c-card-body>
  </c-card>
</div>
<app-custom-spinner></app-custom-spinner>
