<div class="d-flex justify-content-center flex-column align-items-center">
  <c-card class="my-5 ancho-personalizado" *ngIf="listResponse && listResponse.length > 0">
    <div class="d-flex justify-content-center mt-3">
      <span class="tittle">Carrito</span>
    </div>
    <c-card-body>
      <c-container>
        <div class="text-center scroll">
          <table [striped]="true" cTable>
            <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Nombre de producto</th>
              <th scope="col">Descripción</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Total</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of listResponse">
              <td class="align-center" ><img cCardImg="top" [src]="item.producto.imagen" class="fixed-size-img" /></td>
              <td class="align-center">{{item.producto.nombre}}</td>
              <td class="text-start" [innerHTML]="item.descripcion"></td>
              <td class="align-center">{{item.cantidad}}</td>
              <td class="align-center">Q{{functionsUtils.formatPrice(item.producto.precio)}}</td>
              <td class="align-center">Q{{functionsUtils.formatPrice(item.producto.precio * item.cantidad)}}</td>
              <td class="align-center">
                <button cButton color="danger" variant="outline" size="sm" (click)="eliminar(item)">
                  <svg cIcon name="cilTrash"></svg>
                </button>
              </td>
            </tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="fw-bold">Total de compra: </td>
            <td class="align-center fw-bold">Q{{functionsUtils.formatPrice(totalCompra)}}</td>
            </tbody>
          </table>
        </div>
      </c-container>
    </c-card-body>

    <c-card-body class="d-flex justify-content-center">
      <div class="col-6">
        <form cForm [formGroup]="form" *ngIf="form">
          <div class="d-flex justify-content-center mt-3">
            <span class="tittle">Datos personales</span>
          </div>
          <br>
          <!--Nombres-->
          <c-input-group class="mb-2">
            <div [cFormFloating]="true">
              <input id="nombres" (blur)="functionsUtils.removeSpaces('nombres', form)" [valid]="(functionsUtils.campoRequerido(form, 'nombres', 'CR') == 1 ? false : null)" autoComplete="name" [maxLength]="70" cFormControl placeholder="Nombres" formControlName="nombres" />
              <label cLabel for="nombres">Nombres*</label>
              <c-form-feedback [valid]="false">Campo requerido.</c-form-feedback>
            </div>
          </c-input-group>
          <!--Apellidos-->
          <c-input-group class="mb-2">
            <div [cFormFloating]="true">
              <input id="apellidos" (blur)="functionsUtils.removeSpaces('apellidos', form)" [valid]="functionsUtils.campoRequerido(form, 'apellidos', 'CR') == 1 ? false : null" autoComplete="name" [maxLength]="60" cFormControl placeholder="Apellidos" formControlName="apellidos" />
              <label cLabel for="apellidos">Apellidos*</label>
              <c-form-feedback [valid]="false">Campo requerido.</c-form-feedback>
            </div>
          </c-input-group>
          <!--Telefono-->
          <c-input-group class="mb-2">
            <div [cFormFloating]="true">
              <input id="telefono" (blur)="functionsUtils.removeSpaces('telefono', form)"
                     [valid]="functionsUtils.campoRequerido(form, 'telefono', 'CR') == 1 ? false :
                 functionsUtils.campoRequerido(form, 'telefono', 'TI') == 3 ? false : null"
                     autoComplete="telefono" [maxLength]="8" cFormControl placeholder="Teléfono" formControlName="telefono"/>
              <label cLabel for="telefono">Teléfono*</label>
              <c-form-feedback *ngIf="functionsUtils.getValueMap('telefono') == 1" [valid]="false">Campo requerido.</c-form-feedback>
              <c-form-feedback *ngIf="functionsUtils.getValueMap('telefono') == 3" [valid]="false">Solo se permiten valores numéricos del 0 al 9 con longitud máxima de 8 carácteres</c-form-feedback>
            </div>
          </c-input-group>
          <div class="d-flex justify-content-center mt-3">
            <span class="tittle">Datos de envío</span>
          </div>
          <br>
          <!--Departamento-->
          <c-input-group class="mb-2">
            <div [cFormFloating]="true">
              <select id="departamento" cSelect formControlName="departamento" (change)="filtrarLista()">
                <option *ngFor="let departamento of dataUtils.listaDepartamentos" [value]="departamento.codigo">
                  {{dataUtils.descripcionPorCodigo(departamento.codigo)}}
                </option>
              </select>
              <label cLabel style="margin-top: -5px;" for="departamento">Departamento*</label>
              <c-form-feedback [valid]="false">Campo requerido.</c-form-feedback>
            </div>
          </c-input-group>
          <!--Sucursal-->
          <c-input-group class="mb-2">
            <div [cFormFloating]="true">
              <select id="sucursal" cSelect formControlName="sucursal">
                <option *ngFor="let obj of listaSucursalesFiltrada" [value]="obj.id">
                  {{obj.nombre}}
                </option>
              </select>
              <label cLabel style="margin-top: -5px;" for="sucursal">Sucursal*</label>
              <c-form-feedback [valid]="false">Campo requerido.</c-form-feedback>
            </div>
          </c-input-group>
          <!--Metodo Pago-->
          <c-input-group class="mb-2">
            <div [cFormFloating]="true">
              <select id="metodoPago" cSelect formControlName="metodoPago">
                <option *ngFor="let obj of listaMetodoPago" [value]="obj.id">
                  {{obj.nombre}}
                </option>
              </select>
              <label cLabel style="margin-top: -5px;" for="metodoPago">Método de pago*</label>
              <c-form-feedback [valid]="false">Campo requerido.</c-form-feedback>
            </div>
          </c-input-group>
        </form>
      </div>
    </c-card-body>
    <div class="justify-content-center d-flex mt-2" style="padding-bottom: 20px;">
      <button class="boton-comprar" (click)="realizarCompra()" [disabled]="!form || (form && form.invalid) || deshabilitarBotones" cButton color="primary">
        Finalizar Compra
      </button>
    </div>

  </c-card>
  <c-card class="my-5 ancho-personalizado" *ngIf="!listResponse || (listResponse && listResponse.length === 0)">
    <c-card-body class="d-flex justify-content-center flex-column align-items-center align-content-center" >
      <h4>No existen productos en el carrito de compras</h4>
    </c-card-body>
  </c-card>
</div>

<app-modal-crud [showModal]="mostrarModal" (close)="closeModal()" (submit)="confirmarCompra()" [tittle]="'Confirmar compra'"
                [disabledSubmit]="form.invalid || deshabilitarBotones" [disabledOthersButtons]="deshabilitarBotones" [showSubmit]="true">
  <div class="d-flex justify-content-center">
    <div class="col-10 ">
      <c-alert *ngIf="mostrarMensaje" color="{{type}}">{{mensaje}}</c-alert>
      <c-alert color="warning"><span class="fw-bold">Nota:</span>{{'Los pedidos realizados tardan de 2 a 3 días en ser entregados'}}</c-alert>
    </div>
  </div>
</app-modal-crud>

<app-custom-spinner></app-custom-spinner>
